[Desktop Entry]
Encoding=UTF-8
Name=Apache Kafka Administration by Confluent: Exercise Book
Type=Link
URL=/home/training/guides/exercise-book-adm-6.0.0-v1.1.0.html
Icon=text-html
